@import "common.scss";

// main
.main {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 2rem;
  overflow: hidden;
  height: 90vh;

  &__span {
    position: absolute;
    width: 100px;
    height: 100px;

    @media (max-width: 850px) {
      width: 90px;
      height: 90px;
    }

    @media (max-width: 450px) {
      width: 70px;
      height: 70px;
    }

    &:nth-child(1) {
      top: 5rem;
      left: 20rem;

      @media (max-width: 1200px) {
        left: 15rem;
      }

      @media (max-width: 1050px) {
        left: 11rem;
      }

      @media (max-width: 900px) {
        left: 8rem;
      }

      @media (max-width: 850px) {
        top: 23rem;
        left: 5rem;
      }

      @media (max-width: 650px) {
        left: 3rem;
      }

      @media (max-width: 450px) {
        top: 4rem;
        left: 1rem;
      }
    }

    &:nth-child(2) {
      top: 5rem;
      right: 22rem;

      @media (max-width: 1200px) {
        right: 17rem;
      }

      @media (max-width: 1050px) {
        right: 13rem;
      }

      @media (max-width: 900px) {
        right: 10rem;
      }

      @media (max-width: 850px) {
        top: 10rem;
        right: 7rem;
      }

      @media (max-width: 650px) {
        right: 5rem;
      }

      @media (max-width: 450px) {
        top: 4rem;
        right: 3rem;
      }
    }

    &:nth-child(3) {
      top: 15rem;
      right: 22rem;

      @media (min-width: 1500px) {
        top: 20rem;
      }

      @media (max-width: 1200px) {
        right: 17rem;
      }

      @media (max-width: 1050px) {
        right: 13rem;
      }

      @media (max-width: 900px) {
        right: 10rem;
      }

      @media (max-width: 850px) {
        top: 23rem;
        right: 7rem;
      }

      @media (max-width: 650px) {
        right: 5rem;
      }

      @media (max-width: 450px) {
        top: 15rem;
        right: 1rem;
      }
    }

    &:nth-child(4) {
      top: 15rem;
      left: 20rem;

      @media (min-width: 1500px) {
        top: 20rem;
      }

      @media (max-width: 1200px) {
        left: 15rem;
      }

      @media (max-width: 1050px) {
        left: 11rem;
      }

      @media (max-width: 900px) {
        left: 8rem;
      }

      @media (max-width: 850px) {
        top: 10rem;
        left: 5rem;
      }

      @media (max-width: 650px) {
        left: 3rem;
      }

      @media (max-width: 450px) {
        top: 15rem;
        left: 0.5rem;
      }
    }
  }

  @media (max-width: 1200px) {
    height: auto;
  }

  @media (max-width: 850px) {
    flex-direction: column;
    text-align: center;
    height: 100%;
    padding: 0.5rem;
    padding-top: 2rem;
  }

  .left {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    flex-wrap: wrap;
    margin-top: -3rem;
    width: 100%;
    z-index: 2;

    @media (max-width: 1200px) {
      margin-top: -6rem;
    }

    @media (max-width: 850px) {
      margin-top: -2rem;
    }

    @media (max-width: 450px) {
      margin-top: -6rem;
    }

    &__title {
      font-size: clamp(1.7rem, 3.6rem, 3.4rem);
      font-family: "Cormorant Garamond", serif;
      font-weight: 200;
      text-transform: uppercase;
      color: $goldColor;

      &-modifier {
        font-weight: bold;
        background: #161920;
        letter-spacing: 3px;
        background: linear-gradient(
          to right,
          $lawGreen 0%,
          #22725a 50%,
          $lawGreen 100%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      @media (max-width: 1150px) {
        font-size: clamp(1.7rem, 3rem, 3.3rem);
      }

      @media (max-width: 850px) {
        margin-bottom: 0.6rem;
        font-size: 2.2rem;
      }
    }

    &__subtitle {
      font-size: clamp(1.3rem, 1.5vw, 1.9rem);
      line-height: 2.2rem;
      width: 75%;
      &-modifier {
        font-weight: bold;
        color: $lawGreen;
      }
    }

    &__button {
      display: flex;
      flex-wrap: wrap;

      &-item {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: clamp(1.1rem, 1.4rem, 1.7rem);
        margin-right: 1.5rem;
        padding: 0.9rem;
        border-radius: 20px;
        border: 2px solid $lawGreen;
        background-color: $primaryColor;
        cursor: pointer;
        color: $lawGreen;
        text-decoration: none;
        transition: all 0.3s ease;

        &:hover {
          -webkit-box-shadow: 8px 8px 28px -16px rgba(252, 163, 17, 1);
          -moz-box-shadow: 8px 8px 28px -16px rgba(252, 163, 17, 1);
          box-shadow: 8px 8px 28px -16px rgba(252, 163, 17, 1);
          transform: scale(1.03);
        }

        &:last-child {
          margin-right: 0;
        }

        &-contact {
          background-color: $lawGreen;
          color: $goldColor;
        }

        @media (max-width: 480px) {
          margin-right: 0.5rem;
          padding: 0.75rem;
          font-size: 1rem;
        }
      }

      &-icon {
        width: 25px;
        height: 25px;
        margin-bottom: -6px;
        margin-left: 0.4rem;
      }

      @media (max-width: 992px) {
        margin-bottom: 2rem;
      }
    }
  }

  .right {
    position: relative;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 400px;
    margin-bottom: 5rem;
    margin-top: 1rem;

    @media (max-width: 1200px) {
      margin-bottom: 1rem;
    }

    @media (max-width: 850px) {
      margin-top: 5rem;
    }

    @media (max-width: 450px) {
      margin-bottom: -1.5rem;
    }

    &__img {
      position: relative;
      display: block;
      width: 90%;
      height: auto;
      border-radius: 5px;
      margin: 0 auto;
      z-index: 1;

      @media (max-width: 1200px) {
        width: 100%;
        margin-top: -8rem;
      }

      @media (max-width: 1030px) {
        width: 120%;
        margin-top: -8rem;
      }

      @media (max-width: 850px) {
        width: 120%;
        margin-top: -4rem;
      }

      @media (max-width: 390px) {
        width: 180%;
        margin-top: -8rem;
      }
    }
  }
}

// services
.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100svh;
  overflow-x: hidden;
  background-color: $primaryColor;
  background-image: url("../images/backgroundDesktopLeft.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media (max-width: 850px) {
    height: 100%;
    background-image: url("../images/backgroundMobileLeft.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  &__information {
    text-align: center;
    margin-top: 1rem;
    &-title {
      font-family: "Cormorant Garamond", serif;
      font-size: clamp(1.6rem, 2.8rem, 3rem);
      font-weight: 300;
      text-transform: uppercase;

      @media (max-width: 850px) {
        font-size: clamp(1.5rem, 1.9rem, 1.8rem);
      }
    }

    &-subtitle {
      font-family: "Cormorant Garamond", serif;
      font-weight: bold;
      color: $goldColor;
      text-transform: uppercase;
      font-size: clamp(1.4rem, 1.9rem, 2rem);

      @media (max-width: 850px) {
        font-size: clamp(1.5rem, 1.9rem, 1.8rem);
      }
    }
  }

  &__container {
    width: 100%;
    gap: 1rem;

    &-flex {
      display: flex;
      justify-content: center;

      @media (max-width: 850px) {
        flex-direction: column;
        align-items: center;
      }
    }

    &-item {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 400px;
      height: 280px;
      cursor: pointer;
      text-align: center;
      border-radius: 10px;
      margin-top: 1.3rem;
      text-decoration: none;
      color: $darkColor;
      margin-right: 1rem;

      background: rgba(255, 255, 255, 0);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(4.7px);
      -webkit-backdrop-filter: blur(4.7px);
      border: 1px solid rgba(255, 255, 255, 0.1);

      transition: all 0.3s ease;

      &:last-child {
        margin-right: 0;
      }

      @media (max-width: 1000px) {
        width: 350px;
      }

      @media (max-width: 992px) {
        width: 300px;
      }

      @media (max-width: 850px) {
        width: 80%;
        height: 200px;
        &:last-child {
          margin-bottom: 1.8rem;
        }
      }

      &:hover {
        background-color: #ecebeb;
      }

      &--image {
        width: 60px;
        height: 60px;
        color: $lawGreen;
        filter: drop-shadow(1.5px 0 1px black);
      }

      &--title {
        display: block;
        font-family: "Cormorant Garamond", serif;
        font-weight: 300;
        text-transform: uppercase;
        margin-top: 1rem;
        font-size: clamp(1.6rem, 1.8rem, 2rem);
        border-top: 3px solid $lawGreen;
        width: 300px;
        padding: 0.5rem;
        height: 20%;

        @media (max-width: 992px) {
          font-size: 1.5rem;
          width: 250px;
        }

        @media (max-width: 850px) {
          font-size: clamp(1.5rem, 1.7rem, 1.8rem);
          width: 300px;
        }

        @media (max-width: 480px) {
          font-size: 1.5rem;
          width: 200px;
        }
      }
    }
  }
}

//motto
.motto {
  overflow-x: hidden;
  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200px;
    width: 100%;
    background-image: url("../images/backgroundFoooter.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 1.5rem;

    &-item {
      text-align: center;
      font-family: "Cormorant Garamond", serif;
      font-weight: 300;
      text-transform: uppercase;
      color: $primaryColor;
      font-size: clamp(1.6rem, 2.7rem, 2.5rem);
      letter-spacing: 1px;

      @media (max-width: 480px) {
        font-size: 1.7rem;
        width: 400px;
      }

      &--modifier {
        font-family: "Cormorant Garamond", serif;
        font-weight: bold;
        color: $goldColor;
      }
    }
  }
}

// about
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120vh;
  gap: 3rem;
  overflow-y: hidden;
  background-image: url("../images/backgroundDesktopLeft.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media (max-width: 1050px) {
    height: 100%;
    gap: 1rem;
  }

  @media (max-width: 850px) {
    gap: 0;
  }

  @media (max-width: 850px) {
    background-image: url("../images/backgroundMobileLeft.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
  }

  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    @media (max-width: 850px) {
      height: 100%;
      flex-direction: column;
      gap: 0rem;
      margin: 0 auto;
    }
  }

  .who,
  .why {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 48%;
    padding: 3rem;

    @media (max-width: 1050px) {
      padding: 1rem;
    }

    @media (max-width: 850px) {
      width: 95%;
      padding: 0rem;
    }

    &__information {
      margin-top: 1rem;
      width: 80%;
      margin: 0 auto;

      @media (max-width: 850px) {
        width: 95%;
      }

      &-subtitle {
        font-family: "Cormorant Garamond", serif;
        font-weight: bold;
        color: $goldColor;
        text-transform: uppercase;
        font-size: clamp(1.2rem, 1.4rem, 1.5rem);
        letter-spacing: 1.1rem;
        margin-bottom: 0.3rem;
      }

      &-title {
        font-family: "Cormorant Garamond", serif;
        font-size: clamp(2rem, 2.8rem, 3rem);
        font-weight: 400;
        color: $lawGreen;
        text-transform: uppercase;
        margin-bottom: 1rem;
        letter-spacing: 4px;

        @media (max-width: 850px) {
          font-weight: bold;
          font-size: clamp(1.6rem, 2.1rem, 2.3rem);
        }
      }

      &-description {
        font-family: "Cormorant Garamond", serif;
        font-weight: 300;
        font-size: clamp(1.2rem, 1.4rem, 1.6rem);
        margin-bottom: 0.3rem;
        margin-bottom: 1rem;
      }

      &-img {
        display: block;
        object-fit: cover;
        box-shadow: 6px 6px 10px 3px #dddddd;
        position: relative;
        border-radius: 5px;
        z-index: 1;
        margin: 0 auto;

        @media (max-width: 1050px) {
          width: 350px;
        }
      }
    }
  }

  .why {
    margin-top: 10rem;
    @media (max-width: 1050px) {
      margin-top: 5rem;
    }

    @media (max-width: 850px) {
      margin: 1rem 0;
    }
  }

  .who {
    @media (max-width: 850px) {
      margin-top: 1.4rem;
    }
  }
}

// news
.news {
  width: 100%;
  height: 100%;
  padding: 2rem;
  background-image: url("../images/backgroundDesktopLeft.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-x: hidden;

  @media (max-width: 850px) {
    background-image: url("../images/backgroundMobileLeft.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 0rem;
    height: 100%;
  }

  .information {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    height: 10vh;

    @media (max-width: 1200px) {
      gap: 1rem;
    }

    @media (max-width: 850px) {
      text-align: center;
      flex-direction: column;
      height: 100%;
    }

    &__title {
      font-family: "Cormorant Garamond", serif;
      font-size: clamp(1.5rem, 2.4rem, 2.7rem);
      font-weight: 300;
      text-transform: uppercase;

      @media (max-width: 1150px) {
        font-size: clamp(1.5rem, 1.9rem, 1.8rem);
      }
    }

    &__subTitle {
      font-family: "Cormorant Garamond", serif;
      font-size: clamp(1.2rem, 1.4rem, 1.5rem);
      font-weight: 300;
      text-transform: uppercase;

      @media (max-width: 1150px) {
        font-size: 1.1rem;
      }
    }

    &__button {
      font-size: clamp(1.1rem, 1.3rem, 1.5rem);
      padding: 0.9rem;
      width: 400px;
      border-radius: 5px;
      background-color: $lawGreen;
      border: none;
      cursor: pointer;
      text-decoration: none;
      text-align: center;
      color: $goldColor;
      transition: all 0.3s ease;

      &:hover {
        -webkit-box-shadow: 8px 8px 28px -16px rgba(252, 163, 17, 1);
        -moz-box-shadow: 8px 8px 28px -16px rgba(252, 163, 17, 1);
        box-shadow: 8px 8px 28px -16px rgba(252, 163, 17, 1);
        transform: scale(1.03);
        font-weight: 500;
      }

      @media (max-width: 1150px) {
        font-size: 1.1rem;
        width: 300px;
      }
    }
  }
}

.swiper-container {
  position: relative;
  margin-top: 2rem;
  width: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  min-width: 400px;
  height: 350px;
  margin: 0 auto;
  padding: 1.3rem;
  background: rgba(255, 255, 255, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.7px);
  -webkit-backdrop-filter: blur(4.7px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.swiper__link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 0.5rem;
  text-decoration: none;
  color: $darkColor;

  &-img {
    width: 460px;
    object-fit: cover;
    transition: all 0.3s ease;
    box-shadow: 6px 6px 10px 3px #dddddd;
    border-radius: 5px;

    &:hover {
      transform: scale(1.03);
      filter: grayscale(50%);
    }
  }
}

.swiper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  margin-top: 1rem;

  &__title,
  &__date,
  &__description {
    display: block;
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
  }

  &__title {
    font-family: "Cormorant Garamond", serif;
    font-size: clamp(1.1rem, 1.3rem, 1.5rem);
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
  }

  &__date {
    font-weight: bold;
    margin-bottom: 0.5rem;
    font-size: clamp(1.1rem, 1.2rem, 1.4rem);
  }

  &__description {
    font-family: "Cormorant Garamond", serif;
    font-size: clamp(1.1rem, 1.3rem, 1.5rem);
  }
}

.swiper-button-next,
.swiper-button-prev {
  color: $goldColor !important;
  transition: all 0.3s ease;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  transform: scale(1.1);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  background: none !important;
  color: $goldColor !important;
}
